ul, ol{
    list-style: none;
}
nav ul li{
    display: inline-block;
    border: 1px solid red;
    background: white;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
    font-size: 15px;
}
nav ul li:hover{
    background: #a7d0d4;
}
#Actual{
    background:#a7d0d4;
}
h1{
    text-align: center;
}
div{
    text-align: center;
    background: #fff;
    border-radius: 5px;
    width: 90%;
}
img{
    width: 250px;
    height: auto;
}