body{
    background: #98dcbf;
}
nav{
    width: 90%;
}
ul, ol{
    list-style: none;
}
nav ul li{
    display: inline-block;
    border: 1px solid red;
    background: white;
}
nav ul ol li{
    background: green;
    display: block;
    width: 8%;
    position: relative;
    right: -60px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
    font-size: 15px;
}
nav ul li:hover{
    background: #a7d0d4;
}
#Actual{
    background:#f00741;
}
h1{
    text-align: center;
    color:green;
}
div{
    text-align: center;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 0 50px;
    padding: 0.3%;
}
img{
    width: 300px;
    height: auto;
}
table{
    margin-left: 200px;
    background-color: rgb(238, 187, 21);
}